@charset "utf-8";

// base color
$red: #ff4949;
$green: #49d360;
$orange: #ed8235;
$peachPuff: #FFDAB9;
$dimGrey: #696969; // 默认文字颜色
$grey: #f7f8f7; // layout模板main背景颜色
$purple-black: #2b2a30; // layout模板header背景颜色
$deep-purple-black: #363640; // layout模板header更深背景颜色hover状态

// 白到灰
$snow: #FFFAFA;
$ghostWhite: #F8F8FF;
$whiteSmoke: #F5F5F5;
$gainsboro: #DCDCDC;
$lightGray: #D3D3D3;

// 暂时没用
$blue: #324157;
$light-blue: #3A71A8;
$pink: #E65D6E;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$pan-green: #30B08F;


