@charset "utf-8";

@import "color";

$default-color: $dimGrey;
$primary-color: $orange;
$primary-color-linear: linear-gradient(to right top, rgba($orange, 0.6), rgba($orange, 0.3));;
$success-color: $green;
$danger-color: $red;
$border-color-light: $ghostWhite;
$border-color-lighter: $whiteSmoke;
$table-border: 1px solid $gainsboro;

$btn-icon-right: 6px;
$container-spacing: 10px; // 外层容器的间距

:export {
  defaultColor: $default-color;
  primaryColor: $primary-color;
  successColor: $success-color;
  dangerColor: $danger-color;
  btnIconRight: $btn-icon-right;
  containerSpacing: $container-spacing;
}
