@charset "utf-8";

@import "./variables/color";

$scrollbar-size: 6px;
$scrollbar-radius-size: 80px;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: rgba($purple-black, 0.2);
    border-radius: $scrollbar-radius-size;
  }

  &::-webkit-scrollbar {
    width: $scrollbar-size;
    height: $scrollbar-size;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($orange, 0.6);
    border-radius: calc(#{$scrollbar-radius-size} / 4);
  }
}

// 单行溢出省略号表示
@mixin one-row-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行溢出隐藏 $row到第几行隐藏
@mixin more-row-overflow($row) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}

@mixin double-table($firstW, $lastW) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  & > div {
    &:first-of-type {
      width: $firstW;
    }

    &:last-of-type {
      width: $lastW;
    }

    &.line {
      border-left: 1px solid $gainsboro;
    }
  }
}
